.topbar
  .fill
    .container
      %a.brand{:href => "#"}
        Murfie Ping Pong
      / %ul.nav
      /   %li
      /     %a{:href => "#"} Home
      /   %li
      /     %a{:href => "#about"} About
      /   %li
      /     %a{:href => "#contact"} Contact
      / %form.pull-right{:action => ""}
      /   %input.input-small{:placeholder => "Username", :type => "text"}
      /     %input.input-small{:placeholder => "Password", :type => "password"}
      /       %button.btn{:type => "submit"} Sign in